{% extends 'base.html.twig' %}

{% block title %}Here's you diet!{% endblock %}

{% block body %}
    {% for set in sets %}
        <h2>Day {{ loop.index }} - {{ set.date }}</h2>
        <h3>Breakfast</h3>
        <p>Name: {{ set.randomBreakfast.name }}</p>

        <h3>Dinner</h3>
        <p>Name: {{ set.randomDinner.name }}</p>

        <h3>Supper</h3>
        <p>Name: {{ set.randomSupper.name }}</p>
        <p>Kcal: {{ set.kcal }}</p>
        <p>Satisfaction: {{ set.satisfaction }}</p>
        <hr>
    {% endfor %}
    <button onclick="findAnotherMeal()">Find Other Meals</button>

    <script>
        function findAnotherMeal() {
            location.reload();
        }
    </script>

    <form id="saveDietForm" action="{{ path('app_save_diet') }}" method="post">
        <button type="submit" id="saveButton">Save</button>
    </form>

    {% if hasDuplicatedDiets %}
        <script>
            const hasDuplicatedDiets = {{ hasDuplicatedDiets ? 'true' : 'false' }};

            document.addEventListener('DOMContentLoaded', function () {
                const saveButton = document.getElementById('saveButton');
                saveButton.addEventListener('click', function (event) {
                    event.preventDefault();

                    if (hasDuplicatedDiets) {
                        const confirmation = confirm('You already have a diet saved on this date, do you want to overwrite it?');
                        if (confirmation) {
                            document.getElementById('saveDietForm').submit();
                        } else {
                            window.location.href = "{{ path('app_diet') }}";
                        }
                    } else {
                        document.getElementById('saveDietForm').submit();
                    }
                });
            });
        </script>
    {% endif %}

{% endblock %}
