{% extends 'base.html.twig' %}

{% block title %}Hello ExtraMealController!{% endblock %}

{% block body %}
    <button onclick="window.location.href='http://127.0.0.1:8000/diet';">
        Go back to diet management
    </button>
    <br>
    <br>
    {{ form_start(form) }}

    {{ form_row(form.date) }}
    <br>
    {{ form_row(form.extraMeals) }}
    {{ form_row(form.extraMealsP) }}
    {{ form_row(form.extraMealsC) }}
    {{ form_row(form.extraMealsF) }}
    {{ form_row(form.extraMealsComment) }}
    <br>
    {{ form_row(form.submit) }} {{ form_row(form.delete) }}

    {{ form_end(form) }}

    {% if success %}
        <script>
            alert('Extra meals updated successfully!');
        </script>
    {% endif %}
    {% if delete %}
        <script>
            alert('Extra calories removed successfully!');
        </script>
    {% endif %}

{% endblock %}
