{% extends 'base.html.twig' %}

{% block title %}Add a meal!{% endblock %}

{% block body %}
    {{ form_errors(form) }}

    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.kcal) }}
    {{ form_row(form.satisfaction) }}
    {{ form_row(form.type) }}
    {{ form_row(form.ingredients) }}
    {{ form_row(form.doublePortion) }}
    <button type="submit" class="btn">Save</button>
    {{ form_end(form) }}
<br>
    <button onclick="location.href = 'http://127.0.0.1:8000/diet';" >Diet</button>
{% endblock %}
