{% extends 'base.html.twig' %}

{% block title %}Hi!{% endblock %}

{% block body %}
    {% if app.request.query.get('msg-sav') %}
    <div class="alert alert-success">
        {{ app.request.query.get('msg-sav') }}
    </div>
    {% endif %}
    <h2>How many days of a diet to draw?</h2>

    {{ form_start(form) }}

    {{ form_row(form.mealSets) }}
    <br>
    {{ form_row(form.date) }}
    <br>
    {{ form_row(form.submit) }}

    {{ form_end(form) }}

    <style>
        .custom-button {
            font-size: 18px;
            padding: 15px 30px;
            border-radius: 50px;
            background-color: #ffffff;
            color: #000000;
            border: 2px solid #000000;
            transition: background-color 0.3s, transform 0.3s;
        }

        .custom-button:hover {
            background-color: #f1f1f1;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        }
    </style>
    <div class="top-center" style="position: fixed; top: 25px; left: 40%;">
        <button onclick="location.href = 'http://127.0.0.1:8000/add';" class="custom-button">
            Add a new meal
        </button>
    </div>
    <div class="top-center" style="position: fixed; top: 100px; left: 36%;">
        <button onclick="location.href = 'http://127.0.0.1:8000/diet/read';" class="custom-button">
            View your diet and progress
        </button>
    </div>
    <div class="top-center" style="position: fixed; top: 175px; left: 29%;">
        <button onclick="location.href = 'http://127.0.0.1:8000/diet/extra-meal';" class="custom-button">
            Additional meals? It's ok to cheat (diet, wife etc.)
        </button>
    </div>

{% endblock %}
